.profile{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.profile:hover{
    cursor: pointer;
    background-color: #181717;
border-radius: 50px;
    
}
.profileImage{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.info{
    display: flex;
    flex-direction: column;
    margin: 0 10px;

}
.name{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}
.email {
    font-weight: 400;
    color: rgb(113, 118, 123);
    font-size: 15px;
    line-height: 20px;

}
.moreIcon{
    margin-right: 10px;
    font-size: 20px;
}