.sidebar{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    background-color: black;
}
.sidebar ul{
    margin-top: 0;
    list-style: none;
 

}
.sidebar ul li {
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
margin-right: 15px;
width: fit-content;
padding: 10px 15px;
}
.sidebar ul li:hover{
    background-color: #181717;
    border-radius: 50px;
    cursor: pointer;
}
.logo {
    font-size: 45px;
    padding-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.post{
    background-color: rgb(29, 155, 240);
    border-color: rgba(0, 0, 0, 0);
width: 200px;
border-radius: 40%;
margin:0 25px;


}